<h1>Articles</h1>

<%= link_to "New Article", "articles/new" %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>